Repository masmuss/khoirul.site: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    typecheck:
      glob: "*.{ts,tsx,astro}"
      run: bun run check
      stage_fixed: true

    lint:
      glob: "*.{ts,tsx,js,jsx,astro}"
      run: bun run lint
      stage_fixed: true

    format:
      glob: "*.{ts,tsx,js,jsx,astro,css,json,md,mdx}"
      run: bun run format
      stage_fixed: true

chore: add MIT license and update README with licensing information
  CC-BY-NC-SA-4.0
  LICENSE
  README.md
  src/components/layout/Footer.astro
Due: typecheck, lint, format

fix: adjust TOC layout and remove unused Card components in TOC.astro; update BlogPost article width
  src/components/features/blog/TOC.astro
  src/layouts/BlogPost.astro
Due: typecheck, lint, format

fix: update TOC generation to respect heading depth limits and improve filtering logic
  src/content/post/markdown-elements/test-toc.md
  src/content/post/notes/weekend-projects/applyst.md
  src/content/post/notes/weekend-projects/docker-deployment.md
  src/content/post/notes/weekend-projects/proxmox.md
  src/lib/utils/generateToc.ts
Due: typecheck, lint, format

chore: migrate formatting from Prettier to Biome
  .biomeignore
  .prettierrc.js
  biome.json
  bun.lock
  package.json
  public/favicon/site.webmanifest
  src/assets/styles/components/admonition.css
  src/assets/styles/components/github-card.css
Due: lint, format

fix: update VSCode settings to use Biome as the default formatter; enhance scrollbar styles in base.css
  .vscode/settings.json
  src/assets/styles/system/base.css
Due: format

fix: remove border from CardFooter in ProjectCard component for cleaner layout
  src/components/features/projects/ProjectCard.astro
Due: typecheck, lint, format

fix: update biome check command to enable formatter for imports
  biome.json
  package.json
Due: format

feat: introduce Heading component for consistent typography across blog and home sections
  src/components/features/blog/Hero.astro
  src/components/features/blog/RelatedPost.astro
  src/components/features/home/Educations.astro
  src/components/features/home/Experiences.astro
  src/components/features/home/Hero.astro
  src/components/features/tools/ToolSection.astro
  src/components/ui/Heading.astro
  src/components/ui/Section.astro
  src/pages/projects.astro
Due: typecheck, lint, format

fix: update Heading component usage for improved accessibility and consistency in RelatedPost, About, and Privacy pages
  src/components/features/blog/RelatedPost.astro
  src/pages/about.astro
  src/pages/privacy.astro
Due: typecheck, lint, format

fix: update site.webmanifest structure for improved clarity and organization chore: update prettier plugins in package.json and bun.lock for better formatting support
  .prettierrc
  bun.lock
  package.json
  public/favicon/site.webmanifest
Due: format

feat: implement PageHeader component for consistent page headers across 404, privacy, projects, and tools pages
  src/components/ui/PageHeader.astro
  src/pages/404.astro
  src/pages/privacy.astro
  src/pages/projects.astro
  src/pages/tools.astro
Due: typecheck, lint, format

fix: replace h1 tag with Heading component for improved consistency in BlogListLayout
  src/components/features/blog/BlogListLayout.astro
Due: typecheck, lint, format

refactor: enhance AsideListPanel and InfoPanel components for improved structure and consistency
  src/components/ui/AsideListPanel.astro
  src/components/ui/InfoPanel.astro
Due: typecheck, lint, format

refactor: replace Heading component with Section for improved structure in projects page
  src/pages/projects.astro
Due: typecheck, lint, format

refactor: replace h1 tags with Heading and PageHeader components for improved consistency in blog pages
  src/pages/blog/series/index.astro
  src/pages/tags/index.astro
Due: typecheck, lint, format

feat: implement Seo component for improved SEO management in BaseHead
  src/components/common/Seo.astro
  src/components/layout/BaseHead.astro
Due: typecheck, lint, format

feat: add unit tests for components and utilities, configure Vitest
  .gitignore
  bun.lock
  package.json
  tests/unit/common/FormattedDate.test.ts
  tests/unit/common/SocialLinks.test.ts
  tests/unit/features/ProjectCard.test.ts
  tests/unit/ui/Button.test.ts
  tests/unit/ui/Card.test.ts
  tests/unit/utils/date.test.ts
  tests/unit/utils/project.test.ts
  tsconfig.json
  vitest.config.ts
Due: typecheck, lint, format

feat: add Playwright configuration and initial homepage tests for end-to-end testing
  playwright.config.ts
  tests/e2e/homepage.spec.ts
Due: typecheck, lint, format

feat: add end-to-end tests for main pages and SEO validation
  tests/e2e/homepage.spec.ts
  tests/e2e/pages.spec.ts
  tests/e2e/seo.spec.ts
Due: typecheck, lint, format

feat: enhance main pages tests with SEO checks and update descriptions
  tests/e2e/pages.spec.ts
Due: typecheck, lint, format

feat: update Lefthook configuration and add E2E tests for blog post and homepage
  lefthook.yml
  tests/e2e/blog-post.spec.ts
  tests/e2e/homepage.spec.ts
  tests/e2e/pages.spec.ts
  tests/e2e/seo.spec.ts
Due: typecheck, lint, format

feat: update Lefthook configuration and add missing test:unit:run script
  lefthook.yml
  package.json
Due: format

feat: add CI workflow for build, test, and Playwright integration
  .github/workflows/ci.yml
Due: none

feat: add Node.js setup step in CI workflow
  .github/workflows/ci.yml
Due: none

feat: add E2E tests for RSS feed and Sitemap validation
  lefthook.yml
  tests/e2e/discovery.spec.ts
Due: typecheck, lint, format

feat: add accessibility and link integrity tests, update styles and dependencies
  bun.lock
  package.json
  src/assets/styles/system/tokens.css
  src/components/features/blog/BlogTabs.astro
  src/components/ui/AsideListPanel.astro
  src/pages/about.astro
  src/pages/blog/[...id].astro
  tests/e2e/a11y.spec.ts
  tests/e2e/links.spec.ts
Due: typecheck, lint, format

feat: add visual regression testing suite and update README with testing details
  README.md
  playwright.config.ts
  tests/e2e/visual.spec.ts
  tests/e2e/visual.spec.ts-snapshots/about-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/blog-index-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/homepage-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/projects-chromium-darwin.png
Due: typecheck, lint, format

feat: add update snapshots command for E2E tests and improve visual regression test comments
  package.json
  tests/e2e/visual.spec.ts
Due: typecheck, lint, format

feat: add visual regression test snapshots for various pages
  tests/e2e/visual.spec.ts-snapshots/about-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/blog-index-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/homepage-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/projects-chromium-linux.png
Due: none

test: add snapshot synchronization script and update visual regression tests with improved threshold settings
  package.json
  playwright.config.ts
  tests/e2e/visual.spec.ts
  tests/e2e/visual.spec.ts-snapshots/Visual-Regression-page-About-should-match-stored-snapshot-1-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/Visual-Regression-page-About-should-match-stored-snapshot-1-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/Visual-Regression-page-Blog-Index-should-match-stored-snapshot-1-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/Visual-Regression-page-Blog-Index-should-match-stored-snapshot-1-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/Visual-Regression-page-Homepage-should-match-stored-snapshot-1-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/Visual-Regression-page-Homepage-should-match-stored-snapshot-1-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/Visual-Regression-page-Projects-should-match-stored-snapshot-1-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/Visual-Regression-page-Projects-should-match-stored-snapshot-1-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/about-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/about-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/projects-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/projects-chromium-linux.png
Due: typecheck, lint, format

test: add visual regression test snapshots for various Chromium environments
  tests/e2e/visual.spec.ts-snapshots/Visual-Regression-page-Projects-should-match-stored-snapshot-1-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/Visual-Regression-page-Projects-should-match-stored-snapshot-1-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/about-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/about-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/blog-index-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/blog-index-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/homepage-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/homepage-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/projects-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/projects-chromium-linux.png
Due: none

chore: upgrade astro to latest version
  bun.lock
  package.json
Due: format

feat: add fade-up animation and section transitionDelay
  src/assets/styles/global.css
  src/components/features/home/About.astro
  src/components/features/home/Certifications.astro
  src/components/features/home/Educations.astro
  src/components/features/home/Experiences.astro
  src/components/features/home/Hero.astro
  src/components/features/home/Posts.astro
  src/components/features/tools/ToolSection.astro
  src/components/ui/Section.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/privacy.astro
  src/pages/projects.astro
  src/pages/tools.astro
Due: typecheck, lint, format

fix: use full author name and hide author in blog hero
  src/components/features/blog/Hero.astro
  src/config/site-config.ts
Due: typecheck, lint, format

fix: update Chromium visual test snapshots
  tests/e2e/visual.spec.ts-snapshots/projects-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/projects-chromium-linux.png
Due: none

fix: remove unused Props and refine About copy
  src/components/features/home/About.astro
  src/content/pages/about.md
Due: typecheck, lint, format

fix: disable animations in e2e tests and update snapshots
  tests/e2e/a11y.spec.ts
  tests/e2e/visual.spec.ts
  tests/e2e/visual.spec.ts-snapshots/about-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/about-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/blog-index-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/blog-index-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/homepage-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/homepage-chromium-linux.png
  tests/e2e/visual.spec.ts-snapshots/projects-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/projects-chromium-linux.png
Due: typecheck, lint, format

style(prose): add styling for hr tags
  src/assets/styles/components/prose.css
Due: format

feat(styles): replace Newsreader font with Merriweather
  astro.config.ts
  src/assets/styles/components/prose.css
  src/assets/styles/system/tokens.css
  src/components/shell/BaseHead.astro
Due: typecheck, lint, format
