Repository masmuss/khoirul.site: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    typecheck:
      glob: "*.{ts,tsx,astro}"
      run: bun run check
      stage_fixed: true

    lint:
      glob: "*.{ts,tsx,js,jsx,astro}"
      run: bun run lint
      stage_fixed: true

    format:
      glob: "*.{ts,tsx,js,jsx,astro,css,json,md,mdx}"
      run: bun run format
      stage_fixed: true

feat(og): replace iA Writer Quattro font with Geist Sans
  src/assets/fonts/geist-sans-latin-400-normal.ttf
  src/assets/fonts/geist-sans-latin-700-normal.ttf
  src/assets/fonts/ia-writer-quattro-latin-400-normal.ttf
  src/assets/fonts/ia-writer-quattro-latin-700-normal.ttf
  src/lib/utils/og/generate.ts
  src/lib/utils/og/markup.ts
Due: typecheck, lint, format

fix(og): format font path declarations
  src/lib/utils/og/generate.ts
Due: typecheck, lint, format

fix(blog): update github shortcode check for github card component
  src/pages/blog/[...id].astro
Due: typecheck, lint, format

refactor(shell): remove dark favicon and update theme colors
  public/favicon-dark.svg
  src/components/shell/BaseHead.astro
Due: typecheck, lint, format

chore(release): 1.46.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  c0ece0db1ea9c1b9a90b2d05a26c67b26b562dc1
Due: none

fix(favicon): update svg paths with fill colors
  public/favicon.svg
Due: none

chore(release): 1.46.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  46fe773a5e1240eee592531d981110f334ef28ce
Due: none

style(prose): update typography and component styles
  src/assets/styles/components/prose.css
Due: format

refactor(blog): simplify SeriesCard component background styles
  src/components/features/blog/SeriesCard.astro
Due: typecheck, lint, format

refactor(blog): improve layout and interaction of blog components
  src/components/features/blog/Hero.astro
  src/components/features/blog/SeriesCard.astro
  src/components/features/blog/Toc.astro
Due: typecheck, lint, format

feat(blog,shell): optimize Giscus loading with intersection observer and simplify header navigation
  src/components/features/blog/Comment.astro
  src/components/shell/Header.astro
Due: typecheck, lint, format

refactor(utils): extract getLlmPageLinks helper function
  src/lib/utils/llms.ts
  src/pages/llms-full.txt.ts
  src/pages/llms.txt.ts
Due: typecheck, lint, format

refactor(contents): refactor post utilities into modular structure
  src/lib/contents/post.ts
  src/lib/contents/posts/grouping.ts
  src/lib/contents/posts/index.ts
  src/lib/contents/posts/metadata.ts
  src/lib/contents/posts/queries.ts
Due: typecheck, lint, format

refactor(shell): modularize MobileMenu component
  src/components/shell/MobileMenu.astro
  src/components/shell/MobileMenuExtras.astro
  src/components/shell/MobileMenuLinks.astro
  src/components/shell/MobileMenuStatus.astro
Due: typecheck, lint, format

style(prose): update link styling and underline offset
  src/assets/styles/components/prose.css
Due: format

chore(release): 1.47.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  3ca129b6823e9fb86ebdffa451ce0943d0307a97
Due: none
