Repository masmuss/khoirul.site: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    typecheck:
      glob: "*.{ts,tsx,astro}"
      run: bun run check
      stage_fixed: true

    lint:
      glob: "*.{ts,tsx,js,jsx,astro}"
      run: bun run lint
      stage_fixed: true

    format:
      glob: "*.{ts,tsx,js,jsx,astro,css,json,md,mdx}"
      run: bun run format
      stage_fixed: true

chore: update dependencies to their latest versions
  bun.lock
  package.json
Due: format

chore: add astro type check
  bun.lock
  package.json
Due: format

feat: refine UI component styles
  screens/blog-dark.png
  screens/blog.png
  screens/blogs-dark.png
  screens/blogs.png
  screens/homepage-dark.png
  screens/homepage.png
  screens/mobile/blog-dark.png
  screens/mobile/blog.png
  screens/mobile/blogs-dark.png
  screens/mobile/blogs.png
  screens/mobile/homepage-dark.png
  screens/mobile/homepage.png
  screens/mobile/projects-dark.png
  screens/mobile/projects.png
  screens/mobile/tags-dark.png
  screens/mobile/tags.png
  screens/mobile/tools-dark.png
  screens/mobile/tools.png
  screens/projects-dark.png
  screens/projects.png
  screens/tags-dark.png
  screens/tags.png
  screens/tools-dark.png
  screens/tools.png
  src/components/Button.astro
  src/components/Card.astro
  src/components/layout/Footer.astro
  src/components/post/PostPreview.astro
  src/components/projects/ProjectCard.astro
  src/components/sections/home/Hero.astro
  src/pages/blog/[...page].astro
  src/pages/projects.astro
  src/pages/tools.astro
Due: typecheck, lint, format

fix: resolve TypeScript errors in remark-github-card
  src/lib/utils/remark.ts
Due: typecheck, lint, format

chore: remove screens from git tracking
  .gitignore
  screens/blog-dark.png
  screens/blog.png
  screens/blogs-dark.png
  screens/blogs.png
  screens/homepage-dark.png
  screens/homepage.png
  screens/mobile/blog-dark.png
  screens/mobile/blog.png
  screens/mobile/blogs-dark.png
  screens/mobile/blogs.png
  screens/mobile/homepage-dark.png
  screens/mobile/homepage.png
  screens/mobile/projects-dark.png
  screens/mobile/projects.png
  screens/mobile/tags-dark.png
  screens/mobile/tags.png
  screens/mobile/tools-dark.png
  screens/mobile/tools.png
  screens/projects-dark.png
  screens/projects.png
  screens/tags-dark.png
  screens/tags.png
  screens/tools-dark.png
  screens/tools.png
Due: none

feat: migrate to SVG favicons and light/dark mode logos, replacing old favicon assets and updating head links
  public/favicon-dark.svg
  public/favicon.ico/android-icon-144x144.png
  public/favicon.ico/android-icon-192x192.png
  public/favicon.ico/android-icon-36x36.png
  public/favicon.ico/android-icon-48x48.png
  public/favicon.ico/android-icon-72x72.png
  public/favicon.ico/android-icon-96x96.png
  public/favicon.ico/apple-icon-114x114.png
  public/favicon.ico/apple-icon-120x120.png
  public/favicon.ico/apple-icon-144x144.png
  public/favicon.ico/apple-icon-152x152.png
  public/favicon.ico/apple-icon-180x180.png
  public/favicon.ico/apple-icon-57x57.png
  public/favicon.ico/apple-icon-60x60.png
  public/favicon.ico/apple-icon-72x72.png
  public/favicon.ico/apple-icon-76x76.png
  public/favicon.ico/apple-icon-precomposed.png
  public/favicon.ico/apple-icon.png
  public/favicon.ico/browserconfig.xml
  public/favicon.ico/favicon-16x16.png
  public/favicon.ico/favicon-32x32.png
  public/favicon.ico/favicon-96x96.png
  public/favicon.ico/favicon.ico
  public/favicon.ico/manifest.json
  public/favicon.ico/ms-icon-144x144.png
  public/favicon.ico/ms-icon-150x150.png
  public/favicon.ico/ms-icon-310x310.png
  public/favicon.ico/ms-icon-70x70.png
  public/favicon.svg
  src/assets/images/about-astro.png
  src/assets/images/logo-dark.svg
  src/assets/images/logo-light.svg
  src/components/layout/BaseHead.astro
Due: typecheck, lint, format

feat: implement a collapsible, fixed Table of Contents for blog posts, update education GPA, and refine component spacing and typography
  src/components/Section.astro
  src/components/blog/BlogTabs.astro
  src/components/post/TOC.astro
  src/components/post/TOCHeading.astro
  src/lib/constants/educations.ts
  src/pages/blog/[...slug].astro
Due: typecheck, lint, format

feat: introduce and update various technology icons and integrate them into the tools section
  src/assets/styles/global.css
  src/components/ToolSection.astro
  src/icons/better-auth.svg
  src/icons/bun.svg
  src/icons/cloudflare.svg
  src/icons/github.svg
  src/icons/go.svg
  src/icons/jetbrains.svg
  src/icons/mongodb.svg
  src/icons/mysql.svg
  src/icons/nextjs.svg
  src/icons/postgresql.svg
  src/icons/prisma.svg
  src/icons/redis.svg
  src/icons/supabase.svg
  src/icons/svelte.svg
  src/icons/tanstack.svg
  src/icons/vercel.svg
  src/icons/vitest.svg
  src/icons/vue.svg
  src/icons/zod.svg
  src/lib/constants/tools.ts
Due: typecheck, lint, format

feat: introduce a grainy background texture and adjust main content z-index
  src/layouts/BaseLayout.astro
Due: typecheck, lint, format

feat: replace PlantUML diagrams with Mermaid, refactor post fetching logic, and update image styling
  astro.config.ts
  bun.lock
  package.json
  src/assets/styles/global.css
  src/components/layout/Header.astro
  src/components/post/PostImage.astro
  src/components/post/TOC.astro
  src/config/site-config.ts
  src/content/post/notes/golang/dasar/jurus-sakti-mengelola-data-deep-dive-slice-dan-map.md
  src/layouts/BaseLayout.astro
  src/lib/utils/index.ts
  src/lib/utils/post.ts
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/rss.xml.ts
  src/pages/tags/[tag]/[...page].astro
Due: typecheck, lint, format

chore: remove unused Card component import from Educations.astro
  src/components/sections/home/Educations.astro
Due: typecheck, lint, format

add: add reflective post Tiga Lantai
  src/content/post/reflective/tiga-lantai.md
Due: format

add: add reflective post Ambang
  src/content/post/reflective/ambang.md
Due: format

feat: rework tag listing and detail pages, add tags link to blog navigation, and apply minor layout refinements.
  src/components/blog/BlogListLayout.astro
  src/components/blog/BlogTabs.astro
  src/components/projects/ProjectCard.astro
  src/layouts/BaseLayout.astro
  src/pages/tags/[tag]/[...page].astro
  src/pages/tags/index.astro
Due: typecheck, lint, format

feat: update profile image to webp and integrate into about page with Astro Image component
  src/assets/images/avatar.png
  src/assets/images/profile.webp
  src/pages/about.astro
Due: typecheck, lint, format

fix: blog year size in blog page
  src/components/blog/BlogListLayout.astro
Due: typecheck, lint, format

feat: add new blog series content, implement series collection schema, and update blog pages/components to support series display
  src/components/blog/BlogTabs.astro
  src/components/post/PostPreview.astro
  src/content/config.ts
  src/content/post/series/golang-dasar/from-zero-menyiapkan-arena-ngoding-go/create-module.webp
  src/content/post/series/golang-dasar/from-zero-menyiapkan-arena-ngoding-go/index.md
  src/content/post/series/golang-dasar/from-zero-menyiapkan-arena-ngoding-go/installation-check.webp
  src/content/post/series/golang-dasar/from-zero-menyiapkan-arena-ngoding-go/make-module-1.webp
  src/content/post/series/golang-dasar/from-zero-menyiapkan-arena-ngoding-go/make-module-2.webp
  src/content/post/series/golang-dasar/hello-gopher-kode-pertamamu-dan-tipe-data-dasar/build-go.webp
  src/content/post/series/golang-dasar/hello-gopher-kode-pertamamu-dan-tipe-data-dasar/building-go-file-with-error.webp
  src/content/post/series/golang-dasar/hello-gopher-kode-pertamamu-dan-tipe-data-dasar/index.md
  src/content/post/series/golang-dasar/hello-gopher-kode-pertamamu-dan-tipe-data-dasar/running-go-file.webp
  src/content/post/series/golang-dasar/jurus-sakti-mengelola-data-deep-dive-slice-dan-map.md
  src/content/post/series/golang-dasar/kamu-siap-proyek-pertama-dan-arah-selanjutnya-di-dunia-go.md
  src/content/post/series/golang-dasar/mekanisme-unik-go-defer-panic-recover-dan-nil.md
  src/content/post/series/golang-dasar/membangun-blok-program-dengan-fungsi-di-go.md
  src/content/post/series/golang-dasar/membongkar-kotak-perkakas-go-tur-singkat-standard-library-wajib-tahu.md
  src/content/post/series/golang-dasar/membongkar-misteri-pointer-di-go-tanpa-pusing.md
  src/content/post/series/golang-dasar/membuat-tipe-data-sendiri-struct-method-dan-interface.md
  src/content/post/series/golang-dasar/mengulang-perintah-mengenal-perulangan-for-dan-array.md
  src/content/post/series/golang-dasar/menjadi-profesional-mengorganisir-kode-and-menangani-error.md
  src/content/post/series/golang-dasar/otak-program-logika-percabangan-dengan-if-dan-switch.md
  src/content/post/series/golang-deep-dive/mengenal-generic.md
  src/content/post/series/golang-goroutine/mengatur-banyak-goroutine.md
  src/content/post/series/golang-goroutine/menguasai-channel/image.webp
  src/content/post/series/golang-goroutine/menguasai-channel/index.md
  src/content/post/series/golang-goroutine/pengenalan-konkurensi-goroutine.md
  src/content/post/series/golang-goroutine/sinkronasi-dengan-sync.md
  src/content/series/golang-dasar.json
  src/content/series/golang-deep-dive.json
  src/content/series/golang-goroutine.json
  src/layouts/BlogPost.astro
  src/lib/utils/index.ts
  src/lib/utils/post.ts
  src/lib/utils/series.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/series/[id].astro
  src/pages/blog/series/index.astro
  src/pages/index.astro
Due: typecheck, lint, format

fix: remove unused imports
  src/lib/utils/post.ts
  src/lib/utils/series.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/series/[id].astro
Due: typecheck, lint, format

fix: series post sizing
  src/layouts/BlogPost.astro
Due: typecheck, lint, format

add: add becoming astron series
  src/content/post/series/becoming-astron/astro-dan-framework-lain.md
  src/content/post/series/becoming-astron/bekerja-dengan-konten.md
  src/content/post/series/becoming-astron/filosofi-astro.md
  src/content/post/series/becoming-astron/fitur-utama-astro.md
  src/content/post/series/becoming-astron/island-architecture.md
  src/content/post/series/becoming-astron/kenalan-dulu-sama-astro.md
  src/content/post/series/becoming-astron/komponen-astro-dan-frontmatter.md
  src/content/post/series/becoming-astron/membangun-project-pertama/first-page-astro.webp
  src/content/post/series/becoming-astron/membangun-project-pertama/index.md
  src/content/post/series/becoming-astron/memulai-astro.md
  src/content/post/series/becoming-astron/optimasi-seo-dan-performa.md
  src/content/series/becoming-astron.json
Due: format

perf: optimize assets and font loading, improve a11y contrast
  bun.lock
  package.json
  public/noise.svg
  src/assets/styles/global.css
  src/components/layout/BaseHead.astro
  src/content/post/series/becoming-astron/bekerja-dengan-konten.md
  src/layouts/BaseLayout.astro
Due: typecheck, lint, format

fix: update RSS feed path and fix double slash in links
  src/pages/rss.xml.ts
Due: typecheck, lint, format

feat: add JSON-LD schema for better SEO and update content config
  src/components/JSONLD.astro
  src/components/layout/BaseHead.astro
  src/content/config.ts
  src/layouts/BlogPost.astro
Due: typecheck, lint, format

feat: refactor dynamic OG image generation using satori-astro
  bun.lock
  package.json
  src/layouts/BlogPost.astro
  src/pages/og/[...slug].png.ts
Due: typecheck, lint, format

chore: remove unused packages (@resvg/resvg-js, satori)
  bun.lock
  package.json
Due: format

feat(og): serve dynamic OG image and remove static file
  public/og.jpg
  src/config/site-config.ts
  src/pages/og.png.ts
Due: typecheck, lint, format

add(post): add new reflection post
  src/content/post/reflective/tentang-apa-yang-tak-pernah-kita-minta.md
Due: format

build: bump Astro to 5.17.2 and update deps
  bun.lock
  package.json
Due: format

add: add tech stack and refactor ToolSection
  src/components/ToolSection.astro
  src/icons/grafana.svg
  src/icons/playwright.svg
  src/icons/redux.svg
  src/icons/swagger.svg
  src/lib/constants/tech-stack.ts
  src/lib/constants/tools.ts
  src/pages/about.astro
  src/pages/blog/series/[id].astro
  src/pages/tools.astro
Due: typecheck, lint, format

feat: remove gridColumns prop from ToolSection
  src/components/ToolSection.astro
  src/pages/about.astro
Due: typecheck, lint, format

add: add monitoring icons and update tool layout
  src/components/ToolSection.astro
  src/icons/loki.svg
  src/icons/opentelemetry.svg
  src/icons/prometheus.svg
  src/icons/sentry.svg
  src/icons/tempo.svg
  src/lib/constants/tech-stack.ts
  src/pages/about.astro
Due: typecheck, lint, format

chore: update dependencies and improve content handling
  astro.config.ts
  bun.lock
  package.json
  src/components/layout/BaseHead.astro
  src/components/post/Hero.astro
  src/components/post/PostPreview.astro
  src/content.config.ts
  src/content/post/notes/weekend-projects/elibrary-api-update.md
  src/layouts/BlogPost.astro
  src/pages/blog/[...id].astro
  src/pages/og/[...id].png.ts
  src/pages/rss.xml.ts
  tsconfig.json
Due: typecheck, lint, format

chore: update Astro and RSS package versions
  bun.lock
  package.json
Due: format

refactor: remove astro-expressive-code dependency and related configurations
  astro.config.ts
  bun.lock
  package.json
  src/assets/styles/global.css
  src/config/site-config.ts
  tsconfig.json
Due: typecheck, lint, format

refactor: enhance TOC component styling and interactivity
  src/components/post/TOC.astro
  src/components/post/TOCHeading.astro
Due: typecheck, lint, format

refactor: pass coverImageResolved prop to BlogHero component
  src/components/post/Hero.astro
  src/layouts/BlogPost.astro
Due: typecheck, lint, format

refactor: enhance figcaption styling and add link attributes for better accessibility
  src/components/post/PostImage.astro
Due: typecheck, lint, format

refactor: update font dependencies and improve theme styling
  bun.lock
  package.json
  src/assets/styles/global.css
  src/components/ThemeToggle.astro
  src/components/layout/BaseHead.astro
  src/components/layout/Header.astro
  src/layouts/BaseLayout.astro
Due: typecheck, lint, format
